 .color-white {
     color: white;
 }

 .padding-10-px {
     padding: 10px;
 }

 .padding-left-10px {
     padding-left: 10px;
 }

 .btn {
     padding: 0 20px;
 }

 i.left {
     margin-right: 5px;
 }

 .margin-top-10px {
     margin-top: 10px;
 }

 .margin-top-40px {
     margin-top: 40px;
 }

 input:not([type])+label:after,
 input[type=text]+label:after,
 input[type=password]+label:after,
 input[type=email]+label:after,
 input[type=url]+label:after,
 input[type=time]+label:after,
 input[type=date]+label:after,
 input[type=datetime]+label:after,
 input[type=datetime-local]+label:after,
 input[type=tel]+label:after,
 input[type=number]+label:after,
 input[type=search]+label:after,
 textarea.materialize-textarea+label:after {
     font-size: .8rem;
     right: 0px;
 }

 nav {
     margin-bottom: 40px;
 }